@charset "utf-8";

.main-visual {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.main-visual-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    background-color: rgb(0, 0, 0);
}

.main-visual-bg figure {
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    opacity: 0.6;
}

.main-visual-text {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: #fff;
    text-align: center;
    z-index: 2;
}

.main-visual-text h1 {
    font-family: Presentation;
    font-size: clamp(4rem, 5vw, 6rem);
    font-weight: 800;
    line-height: 1.15;
}

.main-visual-text h2 {
    font-family: Presentation;
    font-size: clamp(2rem, 2vw, 3rem);
    font-weight: 600;
    margin-top: 1rem;
}

.main-visual-text span.visual-top {
    display: block;
    width: fit-content;
    color: #000;
    background: #fff;
    margin: 0 auto 1rem auto;
    padding: 0.2rem 2rem;
    border-radius: 1rem;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    font-weight: 500;
}

.main-visual-text span.view {
    display: block;
    margin-top: 2rem;
    font-size: clamp(1rem, 1vw, 2rem);
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

.section-container {
    padding: 5rem 0;
    margin: 0 auto;
    max-width: 1200px;
}

h2.section-title {
    font-family: Presentation;
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 400;
    margin-bottom: 1.5rem;
}

h2.section-title b {
    font-weight: 800;
    margin-left: 0.5rem;
}

.section-content {
    display: grid;
    gap: 1.5rem;
}

.section-content a {
    text-decoration: none;
    color: inherit;
}

.necessary-kigam .section-content {
    grid-template-columns: 2fr 1fr;
    color: #fff
}

.content-item {
    transition: transform .5s ease;
}

.content-item:hover {
    transform: translateY(-16px);
    transition: transform .5s ease;
}

.content-item:hover .view-more {
    text-decoration: none;
}

.content-item figure {
    border-radius: 1rem;
    overflow: hidden;
}

.view-more {
    font-size: 0.75rem;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

.item-category {
    display: block;
    background: #000;
    width: fit-content;
    font-size: 0.8rem;
    letter-spacing: -0.01rem;
    padding: 0.15rem 1.2rem;
    border-radius: 1rem;
    align-self: flex-end;
    color: #fff;
}

.necessary-kigam .content-item {
    padding: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
}

.necessary-1 {
    background: #2B4C99;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 1rem;
}

.necessary-2 {
    background: #4BBD5A;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    height: 100%;
}

.necessary-kigam .item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.necessary-kigam .view-more {
    align-self: flex-end;
}

.necessary-1 h3 {
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: 700;
    line-height: 1.2;
}

.necessary-1 p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.necessary-2 .item-text {
    flex-grow: 1;
}

.necessary-2 h3 {
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    font-weight: 700;
    line-height: 1.2;
}

.essential-kigam {
    background: #E0E0E0;
}

.essential-kigam .section-content {
    grid-template-columns: repeat(2, 1fr);
}

.essential-1 {
    position: relative;
}

.essential-1 figure {
    background: #000;
    z-index: 1;
    position: relative;
}

.essential-1 figure img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.4;
}

.essential-1 .item-text {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(10%);
    color: #fff;
    width: 80%;
    z-index: 2;
}

.essential-1 .item-category {
    font-weight: 700;
}

.essential-1 h3 {
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: 700;
    line-height: 1.2;
    margin: 1rem 0;
}

.essential-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.essential-2 {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    padding: 1rem;
    gap: 1.5rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.essential-2 .item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.essential-2 .item-category {
    font-size: 0.7rem;
    font-weight: 700;
    align-self: flex-start;
}

.essential-2 h3 {
    font-size: clamp(1.1rem, 1.2vw, 1.5rem);
    font-weight: 500;
    line-height: 1.2;
    margin: 1rem 0
}

.essential-2 .view-more {
    color: #9E9E9E;
    font-size: 0.7rem;
}

.outstanding-kigam {
    position: relative;
}

.outstanding-kigam::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 55%;
    bottom: 0;
    left: 0;
    background: #E0E0E0;
    z-index: 0;
}

.outstanding-kigam .section-content {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    position: relative;
    z-index: 2;
}

.outstanding-1 figure {
    margin-bottom: 1.5rem;
}

.outstanding-1 h3 {
    font-size: clamp(1.2rem, 1.3vw, 1.5rem);
    letter-spacing: -0.02rem;
    font-weight: 500;
    margin: 0.5rem 0;
}

.outstanding-1 .view-more {
    color: #9E9E9E
}