@charset "utf-8";

:root {
	--sub-color: #ff6300;
}

body {
	background-color: var(--sub-color);
}

.sub-visual {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.sub-visual-bg {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.sub-visual-bg figure {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.sub-visual-bg figure img {
	height: 100%;
	object-fit: cover;
}

.sub-visual-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -90%);
	color: #fff;
	text-align: center;
}

.sub-visual-text h1 {
	font-size: 3.2rem;
	font-weight: 700;
	letter-spacing: -0.1rem;
	line-height: 1.25;
	margin-bottom: 1rem;
	color: var(--sub-color)
}

.sub-visual-text h2 {
	font-size: 2rem;
	letter-spacing: -0.05rem;
	line-height: 1.6;
	color: #000;
}

.sub-content-wrap {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}

.sub-content-top p {
	width: 80%;
	margin: 5rem auto 0;
	font-size: 1.5rem;
	line-height: 1.6;
}


.sub-top-img video {
	width: 100%;
	height: auto;
	border-radius: 10px;
	margin-bottom: 4rem;
}

.circle-text {
	width: 260px;
	margin: 5rem auto 1rem;
}

.sub-content {
	padding-top: 2rem;
}

.sub-content-wrap.step {
	width: 1000px;
	padding: 0 100px;
	margin-top: 3rem;
	border-left: 1px solid #000;
	position: relative;
}

.sub-content-wrap.step::before {
	content: "";
	width: 30px;
	height: 30px;
	background: url(../contents/icon-section.png) 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-50%);
}

.sub-content-wrap.step::after {
	content: "";
	width: 100px;
	height: 1px;
	background-color: #000;
	position: absolute;
	left: 0;
	bottom: 0;
}

.step-video video {
	height: auto;
	width: 100%;
	border-radius: 10px;
}

.step-text {
	text-align: center;
}

.step-text h3 {
	font-size: 2.8rem;
	font-weight: 200;
	letter-spacing: -0.1rem;
	color: var(--sub-color);
	line-height: 1.1;
	color: #fff;
	margin-bottom: 2rem;
}

.step-text h3 b {
	font-weight: 700;
	margin-left: 0.5rem;
}

.step-text p {
	font-size: 1.35rem;
	line-height: 1.6;
	font-weight: 300;
	margin: 1rem auto 2rem;
	text-align: left;
}

.step-btn {
	display: block;
	width: 250px;
	height: 81px;
	margin: 1rem auto;
	background: url(../contents/btn-1.png) 0 0 no-repeat;
	background-size: contain;
	text-indent: -9999px;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.step-btn:hover {
	transform: translateY(-10%);
}

.step-btn:active {
	transform: translateY(-2%);
}

.step-btn.step-2 {
	background-image: url(../contents/btn-2.png);
}

.step-btn.step-3 {
	background-image: url(../contents/btn-3.png);
}

.sub-content-bottom .sub-content-wrap {
	width: 800px;
	margin-top: 10rem;
	padding-bottom: 5rem;
}

.sub-content-bottom p {
	font-size: 1.35rem;
	line-height: 1.6;
	font-weight: 500;
	position: relative;
}

.sub-content-bottom p::before {
	content: "";
	width: 30px;
	height: 34px;
	background: url(../contents/sub-bul.png) 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, -200%);
}

/* 초기 상태: 투명하고 100px 위로 이동된 상태 */
#step-1,
#step-2,
#step-3,
#step-4 {
	opacity: 0;
	transform: translateY(-100px);
	transition: all 1s ease-out;
	/* 1초 동안 부드럽게 변화 */
}

/* 등장했을 때 적용될 클래스 */
#step-1.is-visible,
#step-2.is-visible,
#step-3.is-visible,
#step-4.is-visible {
	opacity: 1;
	transform: translateY(0);
}