@charset "utf-8";

:root {
	--header-bg-color: #3670D2;
	--header-category-color: #e4ff00;
	--header-text-color: #ffffff;
	--section-head-color: #3670D2;
}
.article {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding-top: 68px;
}
.article-header-container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: var(--header-bg-color);
	color: var(--header-text-color);
}
.article-title {
	padding: clamp(1.5rem, 3vw, 3rem);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
}
.article-title .category {
	color: var(--header-category-color);
	font-family: Presentation;
}
.article-title h1 {
	font-family: Paperozi;
	font-size: clamp(2rem, 3.2vw, 3.5rem);
	line-height: 1.1;
	word-break: keep-all;
	margin-top: 1rem;
}
.article-title h2 {
	font-family: Presentation;
	font-size: clamp(1.5rem, 1.8vw, 2rem);
	margin-top: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	word-break: keep-all;
}
.article-title p {
	margin-top: 2rem;
	width: clamp(10rem, 90%, 38rem);
}
.article-meta {
	font-size: 0.9rem;
	font-family: Presentation;
	font-weight: 300;
	margin-top: 0.8rem;
}
.article-meta em {
	font-weight: 500;
	margin-right: 0.3rem;
}
.article-meta span + span {
	margin-left: 1rem;
}
footer.article-meta {
	padding-top: 0.5rem;
}

.article-body {
	width: 100%;
	max-width: 800px;
	margin: 5rem auto;
}
.article-body h2 {
	font-family: Paperozi;
	color: var(--section-head-color);
	margin: 2rem 0;
}
.article-body p {
	margin-bottom: 1rem;
	font-size: 1.2rem;
	line-height: 1.76;
}
.article-image {
	margin: 5vw 0;
	position: relative;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}
.article-image.image-flex {
	display: flex;
	gap: clamp(0.3rem, 0.5vw, 0.8rem);
}
.article-image.big {
	width: 140%;
	max-width: 100vw;
}
.article-image figcaption {
	color: #666;
	font-size: 0.8rem;
	margin-top: 0.3rem;
	text-align: right;
}
.article-graph {
	width: clamp(10rem, 13vw, 14rem);
	float: right;
	margin-top: 0.5rem;
	margin-left: clamp(2rem, 4vw, 5rem);
	margin-bottom: 2vw;
}
.dialogue-container {
	display: grid;
	grid-template-columns: 3.2fr 1fr;
	gap: 2.5vw;
	margin: 3rem 0;
}
.dialogue-container p {
	position: relative;
	padding: 2rem 2.5rem;
	background: #eeeef0;
	color: var(--section-head-color);
	border-radius: 1.5rem;
	line-height: 1.7;
	font-size: 1.3rem;
	font-weight: 400;
	font-family: GyeonggiMillenniumBackground;
	word-break: keep-all;
	letter-spacing: 1px;
}
.dialogue-container p.font-2 {
	font-family: GangwonEducationSaeum;
}
.dialogue-container p::before {
	content: "";
	position: absolute;
	top: 50%;
	right: 1px;                      /* 본체에 딱 붙게 */
	transform: translate(100%, -50%); /* 오른쪽 바깥 + 수직 중앙정렬 */
	width: 0; height: 0;
	border: 1rem solid transparent;
	border-left-color: #eeeef0;  /* 오른쪽을 향하는 삼각형 */
	border-right: 0;
}
.dialogue-image {
	display: flex;
	justify-content: center;
	align-items: center;
}
.dialogue-image figure {
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	border: 1px solid #cfcfcf;
	overflow: hidden;
}

@media (max-width: 768px) {
	.article-header-container {
		grid-template-columns: 1fr;
	}
	.article-body {
		padding: 3rem 0;
		margin-top: 0;
	}
	.article-body h2,
	.article-body p,
	.article-image figcaption {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.article-body h2 {
		margin-bottom: 0.5rem;
	}
	.article-image.image-flex {
		flex-direction: column;
	}
	.article-graph {
		margin-right: 2vw;
	}
	.dialogue-container {
		grid-template-columns: 1fr;
		gap: 2rem;
		margin: 3rem 1rem;
	}
	.dialogue-container p {
		font-size: 1.2rem;
		margin-bottom: 0;
		padding: 1.5rem 2rem;
	}
	.dialogue-container p::before {
		top: 100%;
		right: 20%;
	}
	.dialogue-image {
		width: 40%;
		margin-left: 55%;
	}
	h2 + .article-image {
		margin-top: 1rem;
	}
}